<ion-content [fullscreen]="true">


  <br><br>
  <h5>Presione sobre el candado para activar la alarma de seguridad</h5>
  <!-- <h5>La alarma se activará automáticamente.</h5> -->
  <br><br>
  <div class="alinear">
    <img src="../../assets/off.png" alt="" widht="200px" height="200px" (click)="cambiarAlarma()" class="pulse"> 
  </div>
    
  
  <br>
  <br>
  <br>
   <div class="centrar">
  
    <p class="p-contenedorBotones">
    <input  (click)="onLogout()" type="submit" value="Salir">
    </p>
  
   </div>
  
  </ion-content>
  