ion-content{

    --background:url("../../assets/city.jpg") 0 0/100% 100% no-repeat;
    position: relative; 
    align-items: center;
    justify-content: center;
     align-self: center;
     text-align: center;
  }
  
  ion-card{
  
    position: relative; 
    align-items: center;
    justify-content: center;
     align-self: center;
     text-align: center;
     width: 80% !important;
     left: 8%;
  }

 